---
layout: default

---
<div class="about">

<div class="grid">
  <div class="col-1-3">
    <section>
      <img class="my-pic" src="{{ site.baseurl }}{{ site.large_pic }}">
    </section>
  </div>

  <div class="col-2-3">
    <section class="about">
      <p class="bio">
        {{page.bio}}
      </p>
      <p class="lead-in">
        {{page.content}}
      </p>

    </section>

    <div class="contact">
      <a name="contact"></a>
      <h2>Get in touch via computer</h2>
      <ul>
        <li><i class="fa fa-twitter fa-fw"></i> Twitter: <a href="https://twitter.com/{{site.contact.twitter}}">@{{site.contact.twitter}} on Twitter</a>
        <li><i class="fa fa-github fa-fw"></i> Github: <a href="http://github.com/{{site.contact.github}}">{{site.contact.github}} on Github</a>
        <li><i class="fa fa-envelope fa-fw"></i> Email: {{site.contact.email}}
      </ul>

    </div>


  </div>
</div>
